  
  .form-control {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
  }
  
  .form-control:hover {
    background-color: #d3d3d3;
  }
  
  .form-control:hover {
    cursor: pointer;
    opacity: 1;
  }

  .card {
    opacity: .8;
    margin: 0px auto;
    float: none;
    margin-top: 350px;
}

  .alert {
    text-emphasis-color: red;
}

 body {
   background-image: url('mit-xpro.png');
   background-color: #cccccc;
   height: 500px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: auto;
   position: relative;
 }

 
